<div id="search-box" align="center" class="row">
    <div class="col-md-3">
        <div class="panel-body">
            <h3><i class="glyphicon glyphicon-floppy-disk"></i></h3>
            <h3>Total Data <span class="badge">32</span></h3>
            <button class="btn btn-xs btn-success"><i class="glyphicon glyphicon-download"></i> Export Now</button>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel-body">
            <h3><i class="glyphicon glyphicon-envelope"></i></h3>
            <h3>Total Emails <span class="badge">32</span></h3>
            <button class="btn btn-xs btn-success"><i class="glyphicon glyphicon-download"></i> Export Now</button>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel-body">
            <h3><i class="glyphicon glyphicon-earphone"></i></h3>
            <h3>Phone Numbers <span class="badge">32</span></h3>
            <button class="btn btn-xs btn-success"><i class="glyphicon glyphicon-download"></i> Export Now</button>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel-body">
            <h3><i class="glyphicon glyphicon-user"></i></h3>
            <h3>Total Users <span class="badge">32</span></h3>
            <button class="btn btn-xs btn-success"><i class="glyphicon glyphicon-eye-open"></i> View</button>
        </div>
    </div>
</div>